*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #2c2a2a;
}
.card{
    width: 90%;
    max-width: 500px;
    color: #fff;
    background:linear-gradient(135deg, #f5f7fa 0%, #587ebd 100%);
}